<ion-header>
  <ion-toolbar>
    <ion-title>Main page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-button routerLink="/addlist/" routerDirection= "forward">
          To addlist
        </ion-button>
      </div>
        <div class="ion-padding">
          <ion-button routerLink="/history/" routerDirection= "forward">
            To your expense history
          </ion-button>
        </div>
        <div class="ion-padding">
            <ion-button routerLink="/home/" routerDirection= "forward">
              <ion-icon name="home"></ion-icon>
            </ion-button>
          </div>

</ion-content>
